<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/post/{{ post.id }}/edit" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ post.title }}"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content">{{ post.content }}</textarea><br>
        <input type="submit" value="Update Post">
    </form>
    <a href="/">Back to Posts</a>
</body>
</html>
