{% extends 'blog/base.html' %} {% block content %}
<a href="{% url 'blog:edit' pk=post.pk %}">수정</a>
<form action="{% url 'blog:delete' pk=post.pk %}" method="post">
  {% csrf_token %}
  <input type="submit" value="삭제" />
</form>
<h1>제목:{{ post.title }}</h1>
<p>내용:{{ post.content }}</p>
<p>작성자:{{ post.writer }}</p>
<p>작성일:{{ post.created_at }}</p>
{% comment %} 작성 화면 {% endcomment %}
<h3>댓글</h3>
{% comment %}
<form action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
  {% csrf_token %} {{ form.field.content }}
  <input type="submit" value="댓글 작성" />
</form>
{% endcomment %}

<form action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
  {% csrf_token %} {{ comment_form.content }}
  <input type="submit" value="댓글 작성" />
</form>

<br />
{% if comments %}
<ul>
  {% for comment in comments %}
  <!-- 내용, 작성시간, 삭제 버튼 -->
  <li>
    <strong>내용:</strong> {{ comment.content }}
    <br />
    <strong>작성시간:</strong> {{ comment.created_at }}
    <!-- 삭제 버튼 -->
    <form
      action="{% url 'blog:comment_delete' comment.pk %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <input type="submit" value="댓글 삭제" />
    </form>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>댓글이 없습니다</p>
{% endif %}
<hr />

{% comment %} 태그 작성 화면 {% endcomment %}
<!-- 해시태그 작성 -->
<h3>해시태그 추가</h3>
<form action="{% url 'blog:tag-write' pk=post.pk %}" method="post">
  {% csrf_token %} {{ hashtag_form.name }}
  <input type="submit" value="태그 작성" />
</form>

<!-- 해시태그 작성된 목록 -->
<h3>해시태그</h3>

{% if hashtags %}
<ul>
  {% for hashtag in hashtags %}
  <li>
    #{{ hashtag.name }}
    <!-- 삭제버튼 -->
    <form action="{% url "blog:hashtag_delete" hashtag.pk %}" {% csrf_token %}
    <input type="submit" value="삭제" />
  </li>
  {% endfor %}
</ul>
{% else %}
<p>해시태그가 없습니다.</p>
{% endif %} {% endblock %}
